@model CarRentApp.ViewModels.VehicleTypeViewModel

@{
    ViewBag.Title = " Vehicle Type Details";
}

<h2>Vehicle Type Details</h2>
<hr/>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p class="col-md-offset-1">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new{@class="btn btn-warning"}) &nbsp;
    @Html.ActionLink("Back to List", "Index",null,new{@class="btn btn-info"})
</p>
