@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3>@ViewBag.Message</h3>
        </div>
        <div class="panel-body">
            <p style="color:Highlight">
                <strong>
                    Currently using the latest available software, especially designed to provide convenience and security in transactions.
                    Therefore, you can rest assured that your personal data are private and secure.
                    EconomyCarRentals.com, in order to help you execute an electronic transaction securely, suggests that you should:
                    Avoid using public or third person’s computer and never send the whole credit card details through an email !
                </strong>
            </p>
        </div>
    </div>
    
</div>

