@{
    ViewBag.Title = "Home Page";
}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="row">
        <div class="col-md-12"></div>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img src="~/Img/n2.jpg" alt="Los Angeles" style="height: 520px; width: 150%;">
                    <div class="carousel-caption">
                        <h3>BMW</h3>
                        <p>LA is always so much fun!</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Img/n3.jpg" alt="Chicago" style="height: 520px; width: 150%;">
                    <div class="carousel-caption">
                        <h3>WoW</h3>
                        <p>Thank you</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Img/n1.jpg" alt="New York" style="height: 520px; width: 150%;">
                    <div class="carousel-caption">
                        <h3>New York</h3>
                        <p>We love the Big Apple!</p>
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <hr />

    <br />
    <div class="row"></div>

    <div class="row">


        <div class="col-md-4">
            <div class="panel panel-warning" style="height: 180px;">
                <div class="panel-heading">Why book with CarRental.com?</div>
                <div class="panel-body">
                    <ul>
                        <li> Easy & Fast - Book a car in 60 seconds</li>
                        <li>No credit card or booking fees</li>
                        <li>Convenient to view or cancel reservations</li>
                        <li>Rent a car coupons and deals</li>
                        <li>Special prices available here</li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="col-md-4">

            <div class="panel panel-warning" style="height: 180px;">
                <div class="panel-heading">Car Rentals in the Bangladesh</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/Img/p.png" alt="world" style="width: 100%" />
                        </div>
                        <div class="col-sm-9">
                            <p>Find car rentals at over 29,000 locations in 197 countries from big global brands to local specialists</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-4">
            <div class="panel panel-warning" style="height: 180px;">
                <div class="panel-heading"> Subscribe to get our latest deals!</div>
                <div class="panel-body">
                    Sign up for our discount coupons, price drop alerts and deals.
                </div>
            </div>
        </div>
    </div>



    @*<div class="container" style="background-color: #f3ddd9;">
            <div class="row">
                <div class="pragraph-panel col-md-offset-1">

                    <h4>What you need to know about car rent</h4>
                    <div class="text">
                        <p>Need to rent a car for your next vacation? Before booking, take a look at our commonly asked questions below:</p>
                    </div>
                </div>
            </div>

        </div>*@

    <div class="panel panel-warning">
        <div class="panel-body">
            <h3 style="color: coral"> What you need to know about car rentals</h3>
            <p>Need to rent a car for your next vacation? Before booking, take a look at our commonly asked questions below:</p>
            <h1> </h1>
            <h3 style="color: coral">How to get a cheap rent car?</h3>
            <p>The best way to make savings on a rental vehicle is to:</p>
            <ol>
                <li>Compare lots of different cheap car rental rates!</li>
                <li>Prepay for your rental and get some of the cheapest rates.</li>
                <li>Check for the latest deals.</li>
                <li>
                    Set a price drop alert and get an email when prices are low for your location.
                    Don’t get an airport car rental since airport locations have higher prices. An off-airport drop-off rental location will also help you to make big savings.
                </li>
                <li>Know what you need (how much fuel and mileage you’ll use and the required size of the car).</li>
                <li>Book in advance, as soon as you know what you need. No credit card needed—you simply pay at pickup.</li>
            </ol>
            <h1> </h1>
            <h3 style="color: coral">Are there car rental locations that accept debit cards?</h3>
            <p>
                Yes, some companies accept debit cards on upcoming reservations, though they will usually require additional identification and proof of insurance.
                They may also need to run a credit check. Cash, pre-paid cards, and gift cards are never accepted for any reservation type.
            </p>
            <h1> </h1>
            <h3 style="color: coral">Do I need insurance for renting a car?</h3>
            <p>
                Yes. You will need to be insured in order to drive car rentals. Firstly, you should check if your car insurance or your credit card covers your car for rent. If it doesn’t, you can always book one with the rental car company – just be careful to check what it covers! As a U.S. Citizen, you also have the option to purchase
                insurance with CarRentals.com at check out, since it isn't usually included in rental rates. When renting in some countries,
                such as Mexico, you have to buy an additional local insurance.
            </p>
            <h1> </h1>
            <h3 style="color: coral">How old do I have to be to rent a car?</h3>
            <p>
                You usually must be between 25 and 65 years of age for renting cars. This can vary depending on the location. You might still be able
                to get cheap car rentals if you’re outside of this age range, but be prepared to pay an additional fee or purchase additional insurance.
            </p>
            <h1> </h1>
            <h3 style="color: coral">What car is the most suiting one for me?</h3>
            <p>
                This is entirely up to you and your trip – factor in things
                like your budget and how many people you will be driving with. Here are some suggestions to get you started:
            </p>
            <h1> </h1>
            <table class="table table-bordered">
                <tr>
                    <th>Car Type</th>
                    <th>Best for </th>
                    <th>Category includes</th>
                </tr>
                <tr>
                    <td><b>Economy car</b></td>
                    <td>Lower costs and smaller groups</td>
                    <td>Toyota Yaris, Vauxhall Corsa, or similar</td>
                </tr>
                <tr>
                    <td><b>SUV</b></td>
                    <td>Longer day trips with more people</td>
                    <td>Audi Q7, Ford Escape, or similar</td>
                </tr>
                <tr>
                    <td><b>Luxury</b></td>
                    <td>Romantic couples seeking a memorable getaway</td>
                    <td>Chrysler 300, Buick Lacrosse, or similar</td>
                </tr>
                <tr>
                    <td><b>Full-size SUV</b></td>
                    <td>Larger groups needing comfort and luggage space</td>
                    <td>Ford Edge, KIA Sorento, or similar</td>
                </tr>
                <tr>
                    <td><b>Convertible</b></td>
                    <td>Sightseers wanting to soak up the weather and scenery</td>
                    <td>Chevy Camaro, VW Beetle Convertible, or similar</td>
                </tr>
                <tr>
                    <td><b>Hybrid</b></td>
                    <td>Visitors who want to keep fuel costs and emissions down</td>
                    <td>Honda Civic, Kia Optima, or similar</td>
                </tr>
            </table>
            <h1> </h1>

            <h3 style="color: coral">Why rent with CarRent.com?</h3>
            <p>
                Of course, you can check the internet for the rates of every single car
                company to get the best value for your price. But we have three reasons, why you should consider booking with us:
            </p>

            <ul>
                <li>Compare great rates easily</li>
                <li> Big savings for smart customers </li>
                <li> Best rental cars in the United States and worldwide</li>
            </ul>
            <br />

            <p>
                Now, what are you waiting for? Find the perfect car for rent for your road trip today! Don't forget to check the reviews,
                if the car was clean and the rental location
                offered a great service at pick up and when returning the car, too! If you want to know more, our customer service is always there to help.
            </p>
        </div>
    </div>


    @*<div class="panel-footer">
            <div class="row">

                <div class="col-md-4">

                    <div class="panel panel-default">
                        <div class="panel-heading">Car Rental Companies</div>
                        <div class="panel-body">

                            <ul style="list-style-type: none">
                                <li>Dhaka</li>
                                <li>Rajshahi</li>
                                <li>Khulna</li>
                                <li>Dur</li>
                            </ul>
                        </div>
                    </div>
                </div>



            </div>
        </div>*@

    <footer class="container-fluid ">
        <div class="col-md-4">
            <h3>Car rant Companies</h3>
     
            <ul style="list-style-type: none">
                <li><span class="glyphicon glyphicon-map-marker"></span>Dhaka</li>
                <li><span class="glyphicon glyphicon-map-marker"></span>Rajshahi</li>
                <li><span class="glyphicon glyphicon-map-marker"></span>Khulna</li>
                <li><span class="glyphicon glyphicon-map-marker"></span>Dinajpur</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Rental Car Types & Classes</h3>
          
         
                <ul style="list-style-type: none">
                    <li>Economy</li>
                    <li>Full Size</li>
                    <li>Minivan </li>
                    <li>4 Wheel Drive</li>
                    <li>Van</li>
                    <li>Mid Size SUV</li>
                    <li>Full Size SUV</li>
                </ul>
            


            @*<h3 style="padding-left: 10px;">Contact Us</h3>
            <ol style="list-style-type: none">
                <li><i class="fa fa-facebook"></i><a href="https://www.facebook.com">Facebook</a></li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a> Gmail
                </li>
                <li><span class="glyphicon glyphicon-phone-alt"> </span> +88017254814548</li>

            </ol>*@
        </div>
        <div class="col-md-4">
            <h3>Top Locations in Bangladesh.</h3>

            <ul style="list-style-type: none">
                <li>Dhaka City</li>
                <li>Chittagong City</li>
                <li>Sylhet City</li>
                <li>Cox's Bazar</li>
                <li>Bandarban</li>
                <li>Dinajpur</li>
            </ul>
        </div>
        
    </footer>
